$col-primary: rgb(44, 221, 183);
$col-secondary: rgb(11, 122, 108);

$col-correct: rgb(62, 236, 129);
$col-incorrect: rgb(233, 89, 63);

$col-info: rgb(29, 101, 129);

$col-white: #fff;

$col-black: #000;