body {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.move-left {
    animation: toLeft .4s forwards;
}
.move-from-left {
    animation: fromLeft .4s both;
}


@keyframes toLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

@keyframes fromLeft {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}



#game {
    position: absolute;
    left: 4rem;
}

.game-tabs {
    position: absolute;
    top: 10rem;
    left: 0;
}

.game-tab {
    background-color: rgba(11, 122, 108, .4);
    width: 5rem;
    height: 5rem;
    border-radius: 0 .3rem .3rem 0;
    position: relative;
    top: 40%;
    /* left: -4rem; */
    left: 0;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all .3s;
}

.game-tab:hover {
    background-color: rgba(11, 122, 108, 1);
}

.game-tab--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#show-tab {
    margin-top: 4rem;
}


.info {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: .2rem solid white;
    border-radius: 50%;
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    transition: all .3s;
}

.info:hover {
    transform:scale(1.15);
}

.info-box {
    position: absolute;
    /* content: ''; */
    width: 20rem;
    height: 10rem;
    background-color: tomato;
    right: 6rem;
    bottom: 6rem;
    display: none;
}

.fa-info-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.choice-container {
    /* display: flex;
    margin-bottom: .8rem;
    border-radius: .4rem;
    background: rgba(6, 103, 247, .5);
    font-size: 3rem;
    min-width: 30rem;
    font-family: 'Nova Square';
    transition: transform 300ms; */

    /* border: 2px solid black; */
    border-radius: 2rem;
    font-size: 2rem;
    background: rgba(255,255,255, .7);
    display: flex;
    width: 30rem;
    color: black;
    margin-bottom: 1rem;
    transition: all .3s;

}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 .1rem .5rem .5rem rgba(255,255,255, .7);
}

.choice-wrapper {
    /* display: flex;
    justify-content: space-between;
    width: 150rem; */
}

.choice-prefix {
    padding: 1rem 2.5rem;
    /* color: white; */
}

.choice-text {
    padding: 1rem;
    width: 100%;

}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(223, 43, 11) 0%, rgb(232, 41, 41) 100%);
}

/* Heads Up Display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: .2rem solid rgb(44, 221, 183);
    margin-top: 2rem;
    border-radius: 5rem;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 122, 108);
    width: 0%;
}


#question {
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 70rem;
    }
}