.btn {
    font-size: 2.4rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    margin: 1rem;
    text-decoration: none;
    color: $col-white;
    border-radius: 1rem;
    border: .2rem solid rgb(122, 153, 201);
    transition: all 300ms;
    user-select: none;
    
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(122, 153, 201, .7);
    
    /* transform: scale(1.03); */
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


.next-button {
    background-color: $col-secondary;
    padding: 1rem 2rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5rem;
    position: absolute;
    bottom: 0;
    display: none;
    // left: -99rem;
    width: 100%;

}