.info {
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: .2rem solid $col-white;
    border-radius: 50%;
    font-size: 4rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    transition: all .3s;
}

.info:hover {
    transform:scale(1.15);
}

.info-box {
    position: absolute;
    padding: 2rem;
    padding-bottom: 4rem;
    font-size: 1.6rem;
    background-color: rgba($col-info, .8);
    right: 5rem;
    bottom: 6rem;
    max-width: 50rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 95% 95%, 0 95%);
    display: none;
}



.fa-info-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
