body {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* -webkit-transition: background-image 1s; */
    /* transition: background-image 1s; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}



#game {
    position: absolute;
    left: 4rem;
    bottom: 4rem;
}



.choice-container {
    /* display: flex;
    margin-bottom: .8rem;
    border-radius: .4rem;
    background: rgba(6, 103, 247, .5);
    font-size: 3rem;
    min-width: 30rem;
    font-family: 'Nova Square';
    transition: transform 300ms; */

    /* border: 2px solid black; */
    border-radius: 2rem;
    font-size: 2rem;
    background: rgba(255,255,255, .7);
    display: flex;
    width: 30rem;
    color: black;
    margin-bottom: 5.5rem;
    transition: all .2s;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0 0 .2rem rgba($col-info, 1);
}

.choice-wrapper {
    position: relative;
}

.choice-prefix {
    padding: 1rem 2.5rem;
    /* color: white; */
}

.choice-text {
    padding: 1rem;
    width: 100%;

}

.correct {
    background: $col-correct;
}

.incorrect {
    background: $col-incorrect;
}

/* Heads Up Display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}




#question {
    font-size: 3rem;
}

// @media screen and (max-width: 768px) {
//     .choice-container {
//         min-width: 70rem;
//     }
// }